# CRM MySQL
CRM_HOST=host.docker.internal
CRM_PORT=3306
CRM_DATABASE=nombre_base_crm
CRM_USERNAME=usuario_crm
CRM_PASSWORD=cambiar_esta_clave

# PostgreSQL analítico
PG_HOST=localhost
PG_PORT=5433
PG_DATABASE=intramax_ia
PG_USERNAME=intramax
PG_PASSWORD=cambiar_esta_clave
